body:before {
    text-align: right;
    color: #259D57;
    position: absolute;
    top: 0px;
    width: 100%;
    padding-right: 60px;
    padding-top: 74px;
    font-size: 20px;
}

.supio {
    color: #259D57;
    line-height:2em; 
    word-spacing:2em;
    font-weight: bold;
}
